.container {
  width: 800px;
  margin: auto;
  padding-bottom: 130px;
  padding-top: 15px;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.width {
  width: 40%;
}
.width1 {
  width: 20%;
}
.button {
  width: 100%;
}

.red {
  color: rgb(218, 0, 0);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: auto;
    padding: 0 10px;
    padding-bottom: 130px;
    background-color: rgb(247, 247, 247);
    padding-top: 15px;
  }
}
